# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
*.egg-info/
dist/
build/

# Env / secrets
.env
.env.*

# Local game dumps (large / copyrighted — keep out of git)
data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
